[Unit]
Description=Happy4Travian Backend
After=network.target

[Service]
WorkingDirectory=/opt/happy4travian
EnvironmentFile=/etc/happy4travian/happy4travian.env
ExecStart=/usr/bin/java -jar /opt/happy4travian/happy4travian-backend.jar
Restart=always
RestartSec=5
User=root
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target